.vnote-one-task-wall {

    width: 100%;
    padding: 5rem 1rem;

    display: flex;
    justify-content: center;
}

.vnote-one-task-card {

    width: 40rem;
    max-width: 95%;

    background: var(--color-2);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.vnote-one-task-card h1, 
.vnote-one-task-card pre {

    width: 100%;
    padding: 1rem;
    outline: none;
    word-wrap: break-word;
}

.vnote-one-task-card h1 {

    font-size: var(--font-size-3);
    background: var(--color-3);
}

.vnote-one-task-card pre {

    min-height: 30rem;
    max-height: 50rem;
    background: var(--color-2);

    overflow: auto;

    white-space: pre-wrap; /* Permite el ajuste de línea */
    word-wrap: break-word; /* Rompe palabras largas */
    word-break: break-word; /* Compatibilidad adicional para navegadores más antiguos */
}

.vnote-one-task-card button {

    padding: .3rem 1rem;
    margin: 1rem;
    margin-left: auto;

    border-radius: .3rem;
    background: var(--color-e-1);
}

.vnote-one-task-card button:hover {

    background: var(--color-e-2);
}
